<p>Someone has requested password reset for your account.</p>

<p>
  <%= link_to 'Reset my password',
              edit_password_reset_url(user: {reset_password_token: @user.reset_password_token,
                                             email: @user.email},
                                      locale: :en),
              target: '_blank' %>
</p>